/*Navigation bar and the like */
html, body {
   width: 3004px;
   height: 2104px;
   max-width: 3004px;
   max-height: 2104px;
   overflow-x: visible;
   position: fixed;
}
#intro_header {
   text-align: left;
   font-family: monospace;
   font-size: 25px;
}
#container1 {
   margin-bottom: 75px;
   width: 1804px;
}
button {
   text-align: justify;
   width: 240px;
   height: 50px;
   font-size: 23px;
   color: white;
}
ul {
   left: 70px;
   position: absolute;
   margin-bottom: 100px;
   list-style-type: none;
   padding: 0;
   margin: 0;
   text-align: justify;
   margin-left: -5.5%
}
ul li select {
   width: 240px;
   height: 50px;

}
ul li {
   font-size: 15px;
   float: left;
   display: inline-block;
   width: 50px;
   height: 25px;
   margin: 10px 100px 10px 100px;
}
#pathComboBox {
   background-color: #1261A0;
   color: white;
   border-radius: 0px;
}
#computationsBtn {
   background-color: #966fd6;
   pointer-events: none;
}
#lengthBtn {
   pointer-events: none;
}

#layouts {
   background-color: #4cbb17;
   color: white;
}
#addLayout {
   right: 105px;
   position: absolute;
   text-align: center;
   /* margin-top: 10px; */
   font-size: 25px;
   width: 50px;
   height: 50px;
   color: white;
   border-radius: 5px;
   background-color: #646464;
}
#helperLbl {
   position: absolute;
   right: -5.5%;
   text-align: center;
   /* margin-left: 400px; */
   /* margin-top: 10px; */
   font-size: 30px;
   width: 50px;
   height: 50px;
   color: white;
   border-radius: 5px;
   background-color: #008080
}
#themeChanger {
   right: 45px;
   position: absolute;
   text-align: center;
   width: 50px;
   height: 50px;
   color: white;
   border-color: #d3d3d3;
   background-color: #ffffff;
   color: black;
}
#tools {
   margin-bottom: 50px;
   margin-left: 70px;

}

/*Grid*/
#grid {
   text-align: center;
}
#myCanvas {
   left: 10px;
   position: fixed
}
