/*Navigation bar and the like */
#intro_header {
   text-align: left;
   font-family: monospace;
   font-size: 25px;

}
#container1 {
   margin-bottom: 75px;
}
button {
   text-align: justify;
   width: 240px;
   height: 50px;
   font-size: 23px;
   color: white;
}
ul {
   margin-bottom: 100px;
   list-style-type: none;
   padding: 0;
   margin: 0;
   text-align: justify;
}
ul li select {
   width: 240px;
   height: 50px;
}
ul li {
   font-size: 15px;
   float: left;
   display: inline-block;
   width: 50px;
   height: 25px;
   margin: 10px 100px 10px 100px;
}
#pathComboBox {
   background-color: #1261A0;
   color: white;
   border-radius: 0px;
}
#computationsBtn {
   background-color: #8359a3;
}



/*Grid*/
#grid {
   text-align: center;
}
